<script setup lang="ts">
import {
  mdiBookOpenVariant,
  mdiFolderStarMultipleOutline,
  mdiBadgeAccountHorizontalOutline,
} from "@mdi/js";
</script>

<template>
  <body>
    <v-container>
      <v-row>
        <v-col>
          <h3>
            <v-icon :icon="mdiBadgeAccountHorizontalOutline" /> MY PROFILE
          </h3>
          <br />
          <img src="panneerat.jpg" width="350" height="350" />
        </v-col>
        <v-col cols="6">
          <h1>ชื่อ : นางสาวพรรณณีรัตน (Panneeart)</h1>
          <h1>นามสกุล : อนันต์วราพงษ์ (Ananwaraphong)</h1>
          <br />
          <h2><v-icon :icon="mdiBookOpenVariant" /> ประวัติการศึกษา</h2>
          <v-table>
            <thead>
              <tr>
                <th>Education</th>
                <th>Institution</th>
              </tr>
              <tr>
                <td>อนุบาล-ประถม</td>
                <td>โรงเรียนบุญญวิทยาคาร</td>
              </tr>
              <tr>
                <td>มัธยมต้น-มัธยมปลาย</td>
                <td>โรงเรียนพนัสพิทยาคาร</td>
              </tr>
              <tr>
                <td>ปริญญาตรี</td>
                <td>มหาวิทยาลัยบูรพา</td>
              </tr>
            </thead>
          </v-table>
          <br />
          <br />
          <h2><v-icon :icon="mdiFolderStarMultipleOutline" /> สิ่งที่สนใจ</h2>
          <p>อาชีพที่สนใจ : User Experience , User Interface</p>
          <p>
            งานอดิเรก : ฟังเพลง/ร้องเพลงเล่น, ดูวาไรตี้/ซีรีย์/YouTube, วาดรูป,
            เล่นเกม
          </p>
          <p>ศิลปินที่สนใจ(ชอบ) : NCT, NCT127, NCT DREAM, WAY-V, MARK LEE</p>
          <p>กีฬาที่ชอบ : แบตมินตัน</p>
        </v-col>
      </v-row>
    </v-container>
  </body>
</template>

<style scoped>
body {
  background-image: url("view.jpg");
  width: 100%;
  height: 100%;
}

h1 {
  color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 27px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h2 {
  color: rgb(2, 107, 46);
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h3 {
  color: rgb(6, 0, 0);
  font-weight: bold;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

p {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  border-radius: 50%;
}

th {
  align-items: center;
  background-color: #04aa6d;
  color: rgb(255, 253, 253);
}

td {
  border-bottom: 1px solid #ddd;
}
</style>
